/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: black;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: white;
}


/******************************************
/* LAYOUT
/*******************************************/
header,
footer {
     height:100px;
     border: 2px solid black;
     clear: both;
}

header {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 200px;
}

.table {
     width: 900px;
     height: 700px;
     margin: auto;
     background: radial-gradient(green, black 140%);
     border: 4px solid rgb(67, 67, 67);
     border-radius: 60px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/* Heading */

header > h1 {
     font-size: 4rem;
}

/* River Cards */

.riverCards {
     position: absolute;
     top: 250px;
     display: flex;
     width: 900px;
     justify-content: center;
}

/* .riverCards > img {
     position: absolute;
     left: 50px;
     width: 120px;
} */

.riverCards > ul {
     display: flex;
}

.riverCards li > img {
     width: 110px;
}

.riverCards li {
     padding: 15px;
}

/* Timer */

.timer {
     height: 100px;
     width: 900px;
     background-color: black;
}


/* Player Cards */

.playerCards {
     position: absolute;
     top: 570px;
     display: flex;
     width: 900px;
     justify-content: space-evenly;
}

.firstHalf:hover,
.secondHalf:hover {
     border: 5px solid greenyellow;
     border-radius: 20px;
}

/* firs set */

.firstHalf{
     border: 5px solid rgb(67, 67, 67, 0);
     transform: rotate(-10deg);
}

.firstHalf > ul {
     display: flex;
}

.firstHalf li > img {
     width: 110px;
}

.firstHalf li {
     padding: 15px;
}

/* second set */
.secondHalf{
     border: 5px solid rgb(67, 67, 67, 0);
     transform: rotate(10deg);
}


.secondHalf > ul {
     display: flex;
}

.secondHalf li > img {
     width: 110px;
}

.secondHalf li {
     padding: 15px;
}

/* Buttons */

section.buttons{
     margin: auto;
     margin-top: 50px;
     width: 900px;
     display: flex;
     justify-content: space-evenly;
}

button.start{
     height: 50px;
     width: 150px;
     font-size: 30px;
     border: 3px solid rgb(162, 162, 162);
     border-radius: 20px;
     background-color: white;
}

button.retry {
     height: 50px;
     width: 150px;
     font-size: 30px;
     border: 3px solid rgb(162, 162, 162);
     border-radius: 20px;
     background-color: white;
}

button:hover{
     background-color: greenyellow;
}